#header{
    text-align: center;
    font-family: Playfair Display;
}

#body{
    background-color: rgb(72, 96, 146);
    color: white
}

.container{
    text-align:center;
    font-family: Playfair Display;
    font-size: 1.3rem;
}

.forecastItem{
    width: 20%;
    border: 2px solid black;
}

#fiveDayForecast{
    display: flex;
}