#header {
  text-align: center;
  font-family: Playfair Display;
  border-bottom: double 5px black;
}

#body {
  background-color: white;
  color: black;
}

.container {
  text-align: center;
  font-family: Playfair Display;
  font-size: 1.3rem;
}

.card-text{
    font-family: Playfair Display;
    font-size: 2.5rem;
    border-bottom: 2px solid black;
    width: 30%
}

.card-title{
    font-family: Playfair Display;
    font-size: 1.5rem;
    border-bottom: solid black;
    background-color: white;
    color: black;
    width: 15%
}

#searchInput{
  overflow: hidden;
  background-color: black;
  color: white;
  border: double 3px white;
  font-family: Playfair Display;
  font-size: 1rem;
  cursor: pointer;
}

.forecastItem {
  width: 20%;
  border: 2px double white;
  background-color: black;
  color: white; 
}

#fiveDayForecast {
  display: flex;
  justify-content: space-between;
}

#currentDiv {
  display: flexbox;
  width: 35%;
  font-size: 1.5rem;
  border: 2px double white;
  justify-content: space-between;
  text-align: center;
  background-color: black;
  color: white;
  margin-left: 450px;
}


.header {
  text-align: center;
  font-family: Playfair Display;
  border: 2px double white;
  background-color: black;
  color: white;
}

#searchButton {
  transition-duration: 0.4s;
  background-color: black;
  border-radius: 50%;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#searchButton:hover {
  background-color: white;
  color: black;
}

#cityHistory{
  border: 5px double black;
  width: 15%;
  display: column;
  justify-content: space-between;
}

.cityBtn{
  transition-duration: 0.4s;
  background-color: rgb(141, 78, 156);
  color: white;
  padding: 5px 5px;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  font-family: Playfair Display;
}

.cityBtn:hover{
  background-color: white;
  color: rgb(141, 78, 156);
}
